@using DataAccess.Entities
@model DataAccess.Entities.Task
<li>
    <input type="checkbox" @(Model.IsFinished ? "checked" : "") value="@Model.TaskId" data-type="0"/>
    @Model.Text (@Model.Date.ToShortDateString())
    @using (Ajax.BeginForm("AddSubTask", new { TaskId = Model.TaskId }, new AjaxOptions { OnSuccess = "addSubTask" }))
    {
        <input type="text" name="Text" required=""/>
        <button class="btn btn-primary">Add SubTask</button>
    }
    <ul id="@Model.TaskId">
        @foreach (var sub in Model.SubTasks ?? new List<SubTask>())
        {
            <li>
                <input type="checkbox" @(sub.IsFinished ? "checked" : "") value="@sub.SubTaskId" data-type="1"/>
                @sub.Text
            </li>
        }
    </ul>

</li>

